/* circularStd */
@font-face {
  font-family: 'CircularStd-Book';
  src: url('./fonts/CircularStd-Book.eot');
  src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
       url('./fonts/CircularStd-Book.svg#CircularStd-Book') format('svg'),
       url('./fonts/CircularStd-Book.ttf') format('truetype'),
       url('./fonts/CircularStd-Book.woff') format('woff'),
       url('./fonts/CircularStd-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* circularStdBold */
@font-face {
  font-family: 'CircularStd-Bold';
  src: url('./fonts/CircularStd-Bold.eot');
  src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg'),
       url('./fonts/CircularStd-Bold.ttf') format('truetype'),
       url('./fonts/CircularStd-Bold.woff') format('woff'),
       url('./fonts/CircularStd-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'CircularStd-Book';
  /* background: url('./img/bg.svg'); */
  background: url('./img/bg1.svg');
  background-color: rgb(48,48,48);
  /* background-repeat:no-repeat; */
  min-height: 100vh;
  min-width: 100vw;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* min-width:  */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-size: cover; */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'CircularStd-Bold';
}

.theme-color {
  color: #1EB76E;
}

.theme-bg {
  background-color: #1EB76E;
}

form label {
  color: #707070 !important;
}
form>div>div::after {
  border-bottom: 2px solid #707070;
}

