/* circularStd */
@font-face {
  font-family: 'CircularStd-Book';
  src: url('./fonts/CircularStd-Book.eot');
  src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
       url('./fonts/CircularStd-Book.svg#CircularStd-Book') format('svg'),
       url('./fonts/CircularStd-Book.ttf') format('truetype'),
       url('./fonts/CircularStd-Book.woff') format('woff'),
       url('./fonts/CircularStd-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* circularStdBold */
@font-face {
  font-family: 'CircularStd-Bold';
  src: url('./fonts/CircularStd-Bold.eot');
  src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg'),
       url('./fonts/CircularStd-Bold.ttf') format('truetype'),
       url('./fonts/CircularStd-Bold.woff') format('woff'),
       url('./fonts/CircularStd-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background: url('./img/bg1.svg');
  background-color: #1E1E1E;
  min-height: 100vh;
  font-family: 'CircularStd-Book';
}
button {
  font-family: 'CircularStd-Bold';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'CircularStd-Bold';
}
label, textarea, select, option {
  font-family: 'CircularStd-Book' !important;
}
.theme-color {
  color: #1EB76E !important;
}

.theme-bg {
  background-color: #1EB76E;
}
.color-white {
  color: #fff;
}
.navlink {
  color: #1EB76E;
  font-size: 1.5rem;
  text-decoration: none;
  bottom: 20px;
}


